<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>localgitproject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04380CE31F6A5021002B37C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04380CF71F6A5021002B37C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04380D021F6A5022002B37C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
